/* Home screen website name/description */
.homeName {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Features label */
.label {
    text-align: center;
    font-weight: bold;
}

.features {
    padding: 30px;
    background-color: #dcdcdc;
}

.feature {
    margin: 10px auto auto;
    padding: 10px;
    width: 400px;
    background-color: #47a2ff;
    border-radius: 5px;
    color: white;
}