/* Table container div */
.table-div {
    width: 60%;
    margin: auto;
}

/* Override DataTable's default "search" background color */
.dataTables_filter input {
    background-color: white !important;
}

/* Override DataTable's default "Show [x] entries" background color */
.dataTables_length select {
    background-color: white !important;
}

.styled-table {
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #47a2ff;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #e3e3e3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #47a2ff;
}
.styled-table tbody {
    font-weight: bold;
    color: #07313d;
}